---
import Navbar from '../components/Navbar.astro';
import Redes from '../components/Redes.astro';
---
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Web Oficial de Project W RolePlay" />
        <link rel="icon" type="image/svg+xml" href="/project-w.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Project W</title>
    </head>
    <body>
        <Navbar />
        <h1>test</h1>
        <Redes />
    </body>
</html>