---
import Navbar from '../components/Navbar.astro';
import Redes from '../components/Redes.astro';
---
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Normativa LSPD Project W RolePlay" />
    <link rel="icon" type="image/svg+xml" href="/project-w.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Normativa LSPD</title>
</head>
<body class="text-white">
    <Navbar />
    <h1>NORMATIVA LSPD</h1>
    <Redes />
</body>
</html>