---
// src/components/Navbar.astro
---
<style is:global>
        #colorPrincipal{
                background-color: rgb(48, 48, 48);
        }

        #sidebar{
                width: 30rem;
                background-color: rgb(48, 48, 48);
                z-index: 1000;
        }

        @keyframes fadeIn {
                from {
                        opacity: 0;
                }
                to {
                        opacity: 1;
                }
        }

        @keyframes handwriting {
                0% {width: 0;}
                100% {width: 100%;}
        }

        .colorPrincipal {
                color: rgb(229, 255, 0);
                position: relative;
                overflow: hidden;
                white-space: nowrap;
                -webkit-text-stroke: .5px black;
                font-weight: bold;
        }

        .colorPrincipal::after {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                color: rgb(229, 255, 0);
                overflow: hidden;
                animation: handwriting 2s steps(40, end) forwards;
        }

        #closeIcon {
                stroke: white;
                transition: stroke 0.7s ease;
        }

        #closeIcon:hover {
                stroke: rgb(229, 255, 0);
                text-shadow: 0 0 2px rgb(229, 255, 0), 0 0 2px rgb(229, 255, 0), 0 0 2px rgb(229, 255, 0), 0 0 2px rgb(229, 255, 0);
        }

        #menuIcon {
                transition: stroke 0.7s ease;
        }

        #menuIcon:hover {
                stroke: rgb(229, 255, 0);
        }

        .alturaW{
                margin-top: -10%;
        }

        .titulos{
                font-weight: bold;
                text-align: center;
                text-decoration: underline;
        }

        .pagina{
                height: 70.16rem;
                max-width: 54rem;
                margin: auto;
                padding: 4rem;
                padding-top: 5rem;
                margin-top: 5rem;
                margin-bottom: 2rem;
                user-select: none;
                border-width: 1px;
                border-color: rgb(209 213 219);
                position: relative;
        }

        .pie-pagina {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5rem;
                background-color: rgba(255, 255, 255, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
        }

        .pagina::after {
                content: "Project W";
                position: absolute;
                font-weight: bold;
                bottom: 3em;
                right: .5em;
                color: rgba(0, 0, 0, 0.1);
                font-size: 10rem;
                transform: rotate(-45deg);
        }

        .tituloNormativa{
                font-size: 2.25rem;
                line-height: 2.5rem;
                margin-bottom: 5rem;
        }

        .subtitulos1{
                margin-left: 2rem;
                font-style: italic;
                font-weight: bold;
                text-decoration: underline;
        }

        @media (max-width: 1024px) {
                .pagina {
                        height: 112rem;
                        padding: 2rem;
                        padding-top: 3rem;
                        margin-top: 3rem;
                        margin-bottom: 1rem;
                }

                .pagina::after {
                        font-size: 4rem;
                        margin-bottom: 5em;
                }

                .tituloNormativa {
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                        margin-bottom: 1.5rem;
                }

                #sidebar{
                        width: 40%;
                }
        }

        @media (max-width: 768px) {
                .pagina {
                        height: ;
                        padding: 1rem;
                        padding-top: 2rem;
                        margin-top: 2rem;
                        margin-bottom: 1rem;
                }

                .pagina::after {
                        font-size: 3rem;
                        margin-bottom: 4em;
                }

                .tituloNormativa {
                        font-size: 1rem;
                        line-height: 1.25rem;
                        margin-bottom: 1rem;
                }
        }

</style>

<div id="colorPrincipal" class="animate-slide-in-top flex justify-between h-auto bg-gray-950 px-4 py-3">
        <a href="/">
                <div class="flex my-3 select-none" id="logo">
                        <span class="alturaTexto colorPrincipal font-bold"></span>
                        <img id="logoProject" alt="Logo Project W" class="alturaW max-w-10 max-h-10 ml-2 hidden" src="/project-w.svg">
                </div>
        </a>
        <button id="toggleMenu" class="text-white focus:outline-none">
                <svg id="menuIcon" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
                <svg id="closeIcon" class="h-6 w-6 hidden transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
        </button>
</div>

<div id="sidebar" class="text-white w-64 h-screen fixed top-15 right-0 overflow-y-auto hidden">
        <div class="px-4 py-3">
                <a href="/normativa" class="block text-white py-2 transition duration-500 ease-out hover:text-yellow-400">Normativa General</a>
                <a href="/normativa-lspd" class="block text-white py-2 transition duration-500 ease-out hover:text-yellow-400">Normativa LSPD</a>
                <a href="#" class="block text-white py-2 transition duration-500 ease-out hover:text-yellow-400">Contacto</a>
        </div>
</div>

<script>
        window.onload = function() {
                const text = 'Project';
                const span = document.querySelector('.colorPrincipal');
                let index = 0;

                function writeText() {
                        if (span) {
                                if (index < text.length) {
                                        span.innerHTML += text[index];
                                        index++;
                                        setTimeout(writeText, 250);
                                } else if (index == text.length && logo) {
                                        setTimeout(logoW, 200)
                                        function logoW() {
                                                const logo = document.getElementById("logoProject");
                                                if (logo) {
                                                        logo.classList.remove('hidden');
                                                        logo.style.animation = "fadeIn 0.35s ease-in-out";
                                                }
                                        }
                                }
                        }
                }

                writeText();
        }

        const toggleMenu = document.getElementById('toggleMenu');
        const sidebar = document.getElementById('sidebar');
        const menuIcon = document.getElementById('menuIcon');
        const closeIcon = document.getElementById('closeIcon');

        if (toggleMenu && sidebar && menuIcon && closeIcon) {
                toggleMenu.addEventListener('click', function(event) {
                        event.stopPropagation();
                        sidebar.classList.toggle('hidden');
                        menuIcon.classList.toggle('hidden');
                        closeIcon.classList.toggle('hidden');
                });
        }

        document.body.addEventListener('click', function(event) {
                if (sidebar && !sidebar.contains(event.target) && menuIcon && closeIcon) {
                        sidebar.classList.add('hidden');
                        menuIcon.classList.remove('hidden');
                        closeIcon.classList.add('hidden');
                }
        });
</script>
