---

---
<style>
    .fondoIcono{
        background-color: #313338;
    }
</style>

<a href="https://discord.gg/hrC5Vhr8KB" target="_blank" rel="noopener noreferrer" class="animate-zoom-in select-none">
    <div class="fixed bottom-8 right-8 shadow-md flex items-center justify-center z-50 rounded-2xl fondoIcono w-10 h-10 hover:scale-105 ">
        <img class="w-full" src="/discord-logo.png" alt="Discord">
    </div>
</a>
<a href="https://twitter.com/ProjectW_RP" target="_blank" rel="noopener noreferrer" class="animate-zoom-in select-none">
    <div class="fixed bottom-8 right-20 flex items-center justify-center shadow-md z-50 rounded-2xl fondoIcono w-10 h-10 hover:scale-105 ">
        <img class="w-10/12" src="/x-logo.png" alt="X">
    </div>
</a>
<a href="https://www.instagram.com/projectw_rp/" target="_blank" rel="noopener noreferrer" class="animate-zoom-in select-none">
    <div class="fixed bottom-8 right-32 flex items-center justify-center shadow-md z-50 rounded-2xl fondoIcono w-10 h-10 hover:scale-105 ">
        <img class="w-10/12" src="/instagram-logo.png" alt="Instagram">
    </div>
</a>
<a href="https://www.tiktok.com/@projectw_rp" target="_blank" rel="noopener noreferrer" class="animate-zoom-in select-none">
    <div class="fixed bottom-8 right-44 flex items-center justify-center shadow-md z-50 rounded-2xl fondoIcono w-10 h-10 hover:scale-105 ">
        <img class="w-10/12" src="/tiktok-logo.png" alt="TikTok">
    </div>
</a>
